<h1>Listing complaints</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @complaints.each do |complaint| %>
  <tr>
    <td><%= complaint.name %></td>
    <td><%= complaint.email %></td>
    <td><%= complaint.phone %></td>
    <td><%= complaint.body %></td>
    <td><%= link_to 'Show', complaint %></td>
    <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
    <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Complaint', new_complaint_path %>
