<h1>Listing orders</h1>

<%= link_to 'New Order', new_order_path %>

<br />

<table>
  <tr>
    <th>Open at</th>
    <th>Closed at</th>
    <th>Table Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at %></td>
      <td><%= order.closed_at || "Still open" %></td>
      <td><center><%= order.table.number %></center></td>
      <td><%= link_to 'Show', "/orders/#{order.id}" %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Destroy', "/orders/#{order.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br />
