<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<br />

Total Sum: <%= @order.calculate_total_sum %>
<%= link_to "Payed", "/mark_as_payed" %>

<br />

<p id="notice"><%= notice %></p>

<p>
  <b>Closed at:</b>
  <%= @order.closed_at %>
</p>

<% if @order.rating %>
  <p>
    <b>Rating:</b>
    <%= @order.rating %>
  </p>
<% end %>

<p>
  <b>Table:</b>
  <%= @order.table.number %>
</p>

<br />

<p>
  <b>Dishes</b>
  <ul>
    <% @order.dishes.each do |dish| %>
      <li>
        <%= dish.name %> | <%= raw display_dish_action(@order, dish) %>
      </li>
    <% end %>
  </ul>
</p>
