<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<br />

<% if current_user.waiter? %>
  Total Sum: <%= @order.calculate_total_sum %>

  <% if @order.is_payed? and @order.is_open? %>
    <%= link_to "Close", "/mark_as_closed?order_id=#{@order.id}" %>
  <% elsif OrderDish.where(:order_id => @order.id, :dish_status => Constant::DS_CHECK).any? %>
    <%= link_to "Pay", "/mark_as_payed?id=#{@order.id}" %>
  <% end %>

  <br />

  <p id="notice"><%= notice %></p>

  <p>
    <b>Closed at:</b>
    <%= @order.closed_at %>
  </p>

  <% if @order.rating %>
    <p>
      <b>Rating:</b>
      <%= @order.rating %>
    </p>
  <% end %>

  <p>
    <b>Table:</b>
    <%= @order.table.number %>
  </p>

  <br />
<% end %>


<b>Dishes</b>
<table style="width: 100%; font-size: 15px;">
  <tr>
    <td><strong>Dish Name</strong></td>
    <td><strong>Dish Status</strong></td>
    <td><strong>Remaining Time</strong></td>
    <% if current_user.chef? %>
      <td><strong>New Time</strong></td>
    <% end %>
  </tr>
  <% @order_dishes.each do |order_dish| %>
    <tr>
      <td>
        <%= order_dish.dish.name %>
      </td>
      <td>
        <%= raw display_dish_action(order_dish) %>
      </td>
       <td id="order_dish-<%= order_dish.id %>">
        <%= ((order_dish.updated_at + order_dish.time.minutes - Time.now)/60).floor %>
      </td>

      <% if current_user.chef? %>
        <td style="font-size: 15px;">
          <%= form_tag ({:action => "change_order_time"}), ({:remote => true, :style => "margin-top: 20px;"}) do %>
            <%= number_field_tag :time, (((order_dish.updated_at + order_dish.time.minutes - Time.now)/60).floor), :min => 1, :style => "width: 40px;" %>
            <%= hidden_field_tag :id, order_dish.id %>
            <%= submit_tag :change, :style => "margin-top: -10px;" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
